.DS_Store
.env
.env*.local
.next
node_modules
dist
coverage
__pycache__/
*.py[cod]
*.tsbuildinfo
*.swp
backend/nail-tryon-ai/.venv/
backend/nail-tryon-ai/legacy/
backend/nail-tryon-ai/sys/
backend/nail-tryon-ai/hands/
backend/nail-tryon-ai/s1_style_output/
backend/nail-tryon-ai/s2_style_natural/
backend/nail-tryon-ai/s3_nail_Direction/
backend/nail-tryon-ai/s5_hands_output/
backend/nail-tryon-ai/s6_hands_natural/
backend/nail-tryon-ai/s7_hands_finger_direction/
backend/nail-tryon-ai/s9_rotNail2MatchFingerDirection_v2/
backend/nail-tryon-ai/s10_getbottomPint/
backend/nail-tryon-ai/s11_getFingerNail/
backend/nail-tryon-ai/s12_getFingerNailBottonTip/
backend/nail-tryon-ai/s13_tryOn/
*.pt
*.pth
*.ckpt
*.safetensors
*.task
